@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* Font works even if sometimes I'm not sure how. */
  --font-sans: var(--font-montserrat-sans);

  /* Text size works. */
  --font-base: 15px;

  /* Colors */
  /* Primary */
  /* Linear gradient: */
  /* hsl(237, 73%, 79%) to hsl(238, 63%, 64%) */

  /* Neutral */
  --color-blue-50: hsl(240, 78%, 98%);
  --color-gray-650: hsl(233, 13%, 49%);
  --color-gray-700: hsl(232, 13%, 33%);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  font-size: var(--font-base);
}
